body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    align-items: center;
    margin: 40px;
    padding: 20px;
    background-color: #f1d8c3; /* Set background to f4c8a3 */
    color: #353540 !important; /* Set text color to blue */
    align-items: center;
}

h1, h2 {
    color: #06069c; /* Headings in blue */
}

form {
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 13px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 34.5%;
    border-radius: 10.5px;

    /*;*/
    /*transform: translateY(-50%);*/
}

button:hover {
    background-color: #45a049;
}

pre {
    background-color: #333333; /* Dark background for preformatted text */
    color: #ffffff; /* White text for preformatted sections */
    padding: 10px;
    border: 1px solid #ddd;
}

a {
    color: #4CAF50; /* Green links for better contrast */
}

