body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    align-items: center;
    margin: 40px;
    padding: 20px;
    background-color: #f1d8c3; /* Set background to f4c8a3 */
    color: #2e0310 !important; /* Set text color to blue */
    align-items: center;

h1 {
    color: #333;
    margin:;
    margin-bottom: ;



}a

h2 {
    color: #555;
}

form {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="file"],
input[type="number"],
button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

pre {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

